/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  width: 100%;
  font-family: 'Merriweather', serif;
  font: 13.3px;
  text-align: left;
  margin : 0 auto;
  padding : 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-size: 1.37em;
  line-height: 1.3em;
}

h1 { 
  margin-bottom: 1em;
  font-weight: 400;
  }

p { 
    font-size: .8em;
    margin: .8em 0;
    line-height: 1.62em;
  }

a { color: chocolate;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition-delay: 0.1;
    -webkit-transition-delay: 0.1;
    -moz-transition-delay: 0.1;
    -ms-transition-delay: 0.1;
    -o-transition-delay: 0.1;
}
a:visited { color: black; }

hr {
    border: 1px solid #eee;
}

ul {
  list-style-type: none;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  line-height: 1.61em;
  margin: 1.2em 0;
  word-wrap: break-word;
}

img {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 1em;
  max-width: 650px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.posts li, .post li {
  line-height: 1.61em;
  margin-bottom: 1.75em;
}

.blue {
  background-color: aliceblue;
  border-radius: 3px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 1.25em;
  text-align: left;
  width: 90%;
  margin: 30px 5%;
  line-height: 1.6em;
}

.header {
  position: relative;
  float:left;
  width: 20%;
  min-width: 240px;
  margin-right: 4.79%;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  overflow: hidden;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-delay: 0.2;
  -webkit-transition-delay: 0.2;
  -moz-transition-delay: 0.2;
  -ms-transition-delay: 0.2;
  -o-transition-delay: 0.2;

}

.top {
	display: inline;
	position: fixed;
	bottom: -10px;
	right: -2px;
	z-index: 500;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	transition-delay: .6s;
	-webkit-transition-delay: .6s;
	-moz-transition-delay: .6s;
	-ms-transition-delay: .6s;
	-o-transition-delay: .6s;
}


.bio-photo{

}

.bio-bottom {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: .8em;
  margin-top: -20px;
  margin-bottom: 30px;
}

.bio-bottom > ul {
  margin: 1em 0;
  padding-left: 0;
}

.bio-bottom li {
  display: inline;
}

.bio-bottom a {
font-size: 1.05em;
color: grey;
font-family: 'Oxygen', sans-serif;
font-weight: 300;
padding-right: 5%;
}


.main {
  position: relative;
  float: left;
  width: 65%;
  background-color: white;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
transition-delay: 0.2;
-webkit-transition-delay: 0.2;
-moz-transition-delay: 0.2;
-ms-transition-delay: 0.2;
-o-transition-delay: 0.2;
}

.section {
  float: left;
  width: 94%%;
  background-color: aliceblue;
  border-radius: 3px;
  font-size: .75em;
  padding: 3%;
  margin-bottom: 50px;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  transition-delay: .6s;
  -webkit-transition-delay: .6s;
  -moz-transition-delay: .6s;
  -ms-transition-delay: .6s;
  -o-transition-delay: .6s;
}

.section h2, .half h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.35em;
}

.section ul, .half ul {
  margin: 0;
  padding: 0;
}

.section ul li, .half ul li {
  text-align: left;
  width: 30%;
  float: left;
  display: inline;
  margin-right: 3%;
  padding: 13px 0;
  word-wrap: break-word;
  line-height: 1.61em;
}

.half {
  float: left;
  padding: 3%;
  margin: 0;
  width: 44%; 
  font-size: .75em;
}

.header p {
  margin-top:-27px;
  color: #282828;
  line-height: 1.38em;
  font-size: .91em;
  padding-top: .7em;
}

.header a {
  text-decoration: none;
}

.title {
  display: inline-block;
  font-size: 2em;
  color: chocolate;
  margin-top: -10px;
  margin-bottom: 1em;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.title a {
  position: relative;
  color: black;
  text-decoration: none;
}

.title a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -9px;
  left: 0;
  background-color: red;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


h2 > a:hover:before, .title a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.meta {
  color: #aaa;
}

.footer {
  position: relative;
  clear: left;
  font-size: 80%;
  color: #666;
  border-top: 1px solid #eee;
  top: 2em;
  padding: 10px 0;
  overflow: hidden;
}

.pages h1, h2, p {
	font-family: 'Oxygen', sans-serif;
	text-align: center;
}

.pages h1 {
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 99px;
}

.pages h2 {
	margin-top: 99px;
	font-size: 1.61em;
	font-weight: 200;
}

.pages {
  clear: both;
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post {
  clear: both;
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}

.post h2, .post h3 {
  font-size: 1.12em;
  margin: 1em 0;
}


.post img, img.post {
  width: 100%;
  max-width: 950px;
  margin: 2em 0;
  padding: 0;
  position: relative;
  height: auto;
  display: block;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul {
  list-style: none;
  list-style-position: inside;
  padding: 1em 1em 1em;
  font-size: .8em;
  background-color: cornsilk;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 1.2em 0;
  word-wrap: break-word;
}

ul.index-list li {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  font-size: .8em;
  margin-bottom: 1em;
}

h2.index-list {
  margin: 1.3em 0 .3em;
  font-size: 1.18em;
}

.post ol {
  list-style-position: inside;
  padding: 1em 1em 0em;
}



ul.bullets {
  font-size: .8em;
  list-style: disc;
  list-style-position:inside;
}

ul.bullets > li {
  margin: 0.5em;
}

blockquote {
  font-size: .8em;
  background-color: whitesmoke;
  border-right: 24px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  list-style: none;
  list-style-position: inside;
  padding: 1em 1em 1em;
  margin: 1.2em 0;
  word-wrap: break-word;

}

blockquote > p {
  font-size: 1em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

#me{
  width: 100%;
  border-radius: 3px;
  margin: 0;
  padding: 0;
}

#hello {
margin: 0 auto;
background-image: url('../assets/taige.png');
width: 13em;
height: 13em;
background-size: 100%;
}

.divider {
  clear: both;
  height: 20px;
  background: url(/assets/divider.png) no-repeat center 2px;
  text-align: center;
  margin: 100px;
}

.c {
  text-align: center;
}
.dolla {
  width: 234px;
  display: block;
  position: relative;
  height: 85px;
  margin: 0 0 0 -5px;

}
p.smallguy{
  padding: 5px;
  font-size: .4em;
  position: relative;
  bottom: -20px;
  display: block;
}

/* tables */

  table { 
    width: 100%; 
    border-collapse: collapse; 
    line-height: 1.6em;
  }
  /* Zebra striping */
  tbody > tr:nth-of-type(even) { 
    background-color:rgba(255,255,255, 0.2);
  }
  tbody > tr:nth-of-type(odd) { 
    background-color:rgba(0,0,0, 0.08);
  }

  td, th { 
  font-size: .8em;
  line-height: 1.2em;
  padding: 0.6em;
  color: black;
  /* padding: 6px; */
  text-align: left;
  vertical-align: top;
  hyphens: auto;
  /* http: //www.w3.org/TR/css3-text/#hyphenation; */
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  /* padding-bottom: 1em; */
  }

tbody { 
  padding: 6px 10px 6px 0;
  font-size: 1em;
}


/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/


/* Responsive Tables */

  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { padding: 0 0 25px 0; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      //border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 40%; 
      font-size: .8em;
      line-height: 1.3em;
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */

  }

@media only screen and (max-width: 882px) {
  .main, .header {
    width:100%;
  }

  .bio-photo{
    height: 200px;
    overflow: hidden;
    width: auto;
    border-radius: 3px;
  }

  #me{
    margin-top: -45px;
  }
  .bio-bottom {
    margin-top:-50px;
    margin-bottom: 25px;
  }
  .bio-bottom a{
    font-size: 1.15em;
    padding-left: 5%;
    color: seashell;
    font-weight: 400;
  }
  .dolla {
    display:none;
  }
}

/*****************************************************************************/
/*
/* Animate
/*
/*****************************************************************************/


a:hover { color: tomato; 
          }
a:active { color: tomato;
            position: relative;
            top: 1px;
          }

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.shrink{
  width: 0%;
  min-width: 0; 
  margin: 0;
  opacity: 0;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
}

.grow {
  width: 100%;
}

div.artIndex {
	display: inline;
	position: fixed;
	z-index: 500;
	left: 20px;
	bottom: -7px;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	height: 30px;
	background-color: black;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	transition-delay: .6s;
	-webkit-transition-delay: .6s;
	-moz-transition-delay: .6s;
	-ms-transition-delay: .6s;
	-o-transition-delay: .6s;
	font-family: Oxygen;
	font-size: .78em;
	text-decoration: none;
	opacity: 0.8;
}

div.artIndex a {
	color: wheat;
}

.go-top {
display: inline;
font-family: Oxygen;
font-size: .78em;
border-radius: 10px 0 0 10px;
text-decoration: none;
background-color: black;
padding: 12px 25px 9px 10px;
opacity: 0.8;
color: wheat;
  transition-delay: 0.2;
  -webkit-transition-delay: 0.2;
  -moz-transition-delay: 0.2;
  -ms-transition-delay: 0.2;
  -o-transition-delay: 0.2;
}

a.go-top:hover {
color: white;
}

.arrow {
  color: wheat;
  font-size: 20px;
  opacity: .8;
  font-family: sans-serif;
  position: relative;
  top: -31px;
  left: 90px;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition-delay: 0.1;
  -webkit-transition-delay: 0.1;
  -moz-transition-delay: 0.1;
  -ms-transition-delay: 0.1;
  -o-transition-delay: 0.1;
}

div.top:hover div {
        -webkit-transform: translateY(-35px);
		transform: translateY(-35px);
        opacity: 0;
}

.top.pre-animation {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
}

.artIndex.pre-animation {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
}

.section.pre-animation {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
}