---
layout: default
type: front
title: taigeair - Exploring the world. Working in tech. 
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts limit: 1 %}
    <li>
	    <div class="post">
      <a href="{{post.url}}"><h1>{{ post.title }}</h1></a>

	    {{ post.content }}

	    </div>
   	    <div class="divider"></div>

	      {% if page.type == "front" %}
          {% include extras.html %}
          {% endif %}

	</li>

    {% endfor %}
  </ul>


</div>

<div class="infinite-spinner"></div>

