<div class="half">
<h2>Books for Product Managers</h2>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
</div>
<div class="half">
<h2>Useful Websites & Tools</h2>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
</div>
<div style="clear:both;"></div>
<div class="half">
<h2>Friends Startups</h2>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
</div>
<div class="half">
<h2>Random Links</h2>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
</div>